 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Pretendard-Regular;
  font-size: 1rem;
  margin: 83px 1054px 0 1px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Pretendard-Regular;
  font-size: 2.25rem;
  margin: 10px 961px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 493px;
  grid-auto-columns: calc(33.3333% - 22.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 22.6667px));
  grid-gap: 34px;
}

.u-section-1 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/10563.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 3px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/cf8a9c8c48f3d5263a1f72f7d6f1432aa8fe23bbbeaaa292b4c9e29c15f9bf323d58c07df65d81317fd1ea76bf93e92d98461cf696d8cdfc0e5551_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 3px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/74b5eaee17d3e07f47ed12caa25498b1a4655ad60503a31a9cf9dfede56e9f7178a0b95f5bd3290ee391079d49e42b4cdf8e5e4953004ef50b9eaa_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 3px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/d91fef8fa7eab9ba95ca8dcdfdb3347a3abb1bd16f3484a0a3133f7e1cf8b52f8c3044200b6d6e79c0514333d44f2b08b2929ca74169029cbbf14b_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 3px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 74px;
    margin-right: 855px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 795px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 655px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 573px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 17.000025px);
    grid-template-columns: repeat(2, calc(50% - 17.000025px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 57px;
    margin-right: 455px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-right: 393px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 25px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 25px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 93px;
    margin-right: 254px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-right: 184px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 26px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 26px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 26px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 26px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Pretendard-Regular;
  font-size: 1rem;
  margin: 79px 937px 0 1px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Pretendard-Regular;
  font-size: 2.25rem;
  margin: 10px 937px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 493px;
  grid-auto-columns: calc(33.3333% - 22.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 22.6667px));
  grid-gap: 34px;
}

.u-section-2 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/def4b77b4cc1d1d926ca086ed06a5f215664c26dbfbc546081d7ef00d974e05068fa578d006cf33afba339b2cc2fc1a2076512c2a59cc3b2be35d7_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/ecf6e344bf506f1fbaddadd0b83bd7b347fa8776dafb1de0ee7d394b056be25ded848a64f7f32a613f16068ebf3ccf56032f549c6ede0e763d2abe_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/g24bef7aa9cbd3492c203cee209d707fe22b1eca71ce9f76f6ccef8a7d2fa7a51c655c0a6e8cb2d99fe8fce508a24c01d_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/d91fef8fa7eab9ba95ca8dcdfdb3347a3abb1bd16f3484a0a3133f7e1cf8b52f8c3044200b6d6e79c0514333d44f2b08b2929ca74169029cbbf14b_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 74px;
    margin-right: 738px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 738px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 451px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 518px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 17.000025px);
    grid-template-columns: repeat(2, calc(50% - 17.000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 57px;
    margin-right: 338px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
    margin-right: 338px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 25px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 93px;
    margin-right: 65px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-right: 138px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 26px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 26px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 26px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 26px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Pretendard-Regular;
  font-size: 1rem;
  margin: 40px 932px 0 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Pretendard-Regular;
  font-size: 2.25rem;
  margin: 10px 974px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  min-height: 533px;
  grid-auto-columns: calc(33.3333% - 22.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 22.6667px));
  grid-gap: 34px;
}

.u-section-3 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/c203ee3579a1698b9ba063bebd02dd652d691e49323e2e90de08a605477d91eb9252d57f07134fc9ce201ce2fae533cfb01dc082c34b07c72b608d_1280.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 3px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/ee987d7f2d16cd59dd31d0aaf0f0f4b10d14c5cc6a89da3b1362396718b8b6bd0d23787b0ef451e41530a119cc78ea796ff1841434aafe724f505c_1280.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 3px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/ea7fd1ee8c5d335a6986455d18742f674c95987a0e663292b7a30938ade0af00d63c1fbcb85056d813a84a937befd728565f35f1ec49a86afd38b9_1280.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 3px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/ea7fd1ee8c5d335a6986455d18742f674c95987a0e663292b7a30938ade0af00d63c1fbcb85056d813a84a937befd728565f35f1ec49a86afd38b9_1280.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 3px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 305px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 74px;
    margin-right: 732px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 782px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 655px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 585px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 22px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 565px;
    grid-auto-columns: calc(50% - 17px);
    grid-template-columns: repeat(2, calc(50% - 17px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 57px;
    margin-right: 332px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 14px;
    margin-right: 403px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 25px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 125px;
    margin-right: 254px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-right: 154px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 534px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 26px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 26px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 26px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 26px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }
}@font-face {
  font-family: 'Pretendard-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Pretendard-Regular.woff);
}@font-face {
  font-family: 'Pretendard-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Pretendard-SemiBold.woff);
}